<div >
  <form class="border border-2 p-3 rounded-3 shadow-lg p-3 mb-5 bg-body">
     <div class="row">
      <div class="col mb-3">
          <input type="text" class="form-control" placeholder="Employee Name">
          <div class="form-text"></div>
      </div>

        <div class="col mb-3">
            <input type="text" class="form-control" placeholder="Department Name">
            <div class="form-text"></div>
        </div>

        <div class="col mb-3">
          <input type="text" class="form-control" placeholder="Task Name">
          <div class="form-text"></div>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
          <textarea class="form-control"></textarea>
      </div>
  </div>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
    </div>
</form>
</div>
