<!-- Bootstrap-5 is used in this page -->
<div >
    <form class="border border-2 p-3 rounded-3 shadow-lg p-3 mb-5 bg-body">
        <div class="row" >
            <div class="col mb-3">
                <h5>Login</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <select name="Name" id="">
                    <option value="Name" *ngFor="let d of loginRead">
                        {{d.First_Name}}
                    </option>
                   </select> 
            </div>
        </div>
        
         <div class="row">
            <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Password" formControlName="Password">
                <div class="form-text"></div>
            </div>
         </div>
    
         <div class="row">
            <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Confirm Password" formControlName="Confirm_Password">
            </div>
         </div>
    
         <div class="row">
            <div class="col-3 offset-0">
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                 </div>
             </div>
        </div>
    </form>
</div>