<div >
  <form [formGroup]="departmentForm" (ngSubmit)="registerSubmited()"
   class="border border-2 p-3 rounded-3 shadow-lg p-3 mb-5 bg-body">
     <div class="row">
      <div class="col mb-3">
          <input type="text" class="form-control" placeholder="ID" formControlName="ID">
          <div class="form-text"></div>
      </div>

        <div class="col mb-3">
            <input type="text" class="form-control" placeholder="DepartmentName" formControlName="Department_Name">
            <div class="form-text"></div>
        </div>

      <div class="card">
      <div class="col ps-3 mb-3">
        <span>Status</span> <br> 
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" value="True" id="True" formControlName="STATUS">
            <label for="1" class="form-check-label">True</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" value="False" id="False" formControlName="STATUS">
            <label for="0" class="form-check-label">False</label>
            
        </div>
    </div>
</div>
    </div>
    <br>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
    </div>
</form>
</div>
