<!-- Bootstrap-5 is used in this page -->

<form [formGroup]="employeeForm" (ngSubmit)="registerSubmited()" 
class="border border-2 p-3 rounded-3 shadow-lg p-3 mb-5 bg-body">
    <div class="row g-0 border-0">
        <div class="col text-center p-3 mb-3">
            <span class="fs-3">Add Employee</span>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <input type="text" class="form-control" placeholder="First Name" formControlName="First_Name">
        </div>

        <div class="col mb-3">
            <input type="text" class="form-control" placeholder="Middle Name" formControlName="Middle_Name">
            <div class="form-text"></div>
        </div>

        <div class="col mb-3">
            <input type="text" class="form-control" placeholder="Last Name" formControlName="Last_Name">
        </div>

        <div class="row">
            <div class="col mb-3">
                <input type="email" class="form-control" placeholder="Email Id" formControlName="Email">
                <div class="form-text"></div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Mobile No" formControlName="Mobile_No">
                <div class="form-text"></div>
            </div>

            <div class="col mb-3">
                <input type="number" class="form-control" placeholder="Salery" formControlName="Salery">
                <div class="form-text"></div>
            </div>
        </div>

        <div class="col ps-3 mb-3">
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="m" id="male" formControlName="Gender">
                <label for="male" class="form-check-label">Male</label>
            </div>

            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="f" id="female" formControlName="Gender">
                <label for="female" class="form-check-label">Female</label>
            </div>

            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="o" id="others" formControlName="Gender">
                <label for="others" class="form-check-label">Others</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
    </div>
</form>