<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h4>Designed by Soumya</h4>
      <button mat-button (click)="opened=!opened">Menu</button>
      <button mat-button routerLink="/home">Home</button>
        <button mat-button routerLink="/login">Log-out</button>
       </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav [(opened)]="opened" mode="side">
          <mat-list>
            <mat-list-item>
                <button mat-button routerLink="#">Add Employee</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="#">Add Department</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="#">Add Tasks</button>
            </mat-list-item>
          </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <h1>Home Works</h1>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
